@font-face{font-family: "open-bold";src: url(../font/OpenSans-Bold.ttf);}
@font-face{font-family: "open-med";src: url(../font/OpenSans-Medium.ttf);}
@font-face{font-family: "open-reg";src: url(../font/OpenSans-Regular.ttf);}
@font-face{font-family: "open-semi";src: url(../font/OpenSans-SemiBold.ttf);}
@font-face{font-family: "sf-bold";src: url(../font/SFCompactText-Bold.otf);}
@font-face{font-family: "sf-med";src: url(../font/SFCompactText-Medium.otf);}
@font-face{font-family: "sf-reg";src: url(../font/SFCompactText-Regular.otf);}
@font-face{font-family: "un-bold";src: url(../font/UnifixSPDemo.otf);}


a{transition:all .4s ease;text-decoration:none;color:inherit;}
a:hover{color:inherit}
svg,svg *{transition: all .4s;}
ol,ul,p{padding: 0;margin: 0;}
li{list-style:none;}
img{max-width:100%;}
input,button{transition:all .4s ease;border:0;outline:none;box-shadow:unset;}
body{display: flex;flex-direction: column;background-color: var(--sine-seryy-fon);min-height: 100vh;background-image: url(../img/bg.svg);background-position: top center;background-repeat: no-repeat;background-size: cover;}
body::-webkit-scrollbar-track,::-webkit-scrollbar-track{background-color:transparent;border-radius:50px;}
body::-webkit-scrollbar,::-webkit-scrollbar{width:3px;border-radius:6px;height: 3px;}
body::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb{background-color:var(--sine-seryy-fon);border-radius:50px;}
path{transition:all .4s ease;}

:root {
	--pererabotka-chernyy-dlya-teksta: #212121;
	--pererabotka-seryy: #abb2bd;
	--pererabotka-ohra: #f9a903;
	--pererabotka-fon: #e8f0ff;
	--pererabotka-blue-dlya-teksta: #1f2a3f;
	--pererabotka-blue-siniy: #455d89;
	--pererabotka-blue-temnyy-siniy: #374a6e;
	--pererabotka-blue-futer-temnyy: #526c9c;
	--pererabotka-blue-futer-svetlyy: #6f8dc4;
	--color-spring-green-29: #019540;
	--color-white-solid: #fff;
	--color-green-47: #39b54a;
	--color-green-52: #43c443;
	--color-violet-47: #673ab8;
	--color-violet-54: #7248cc;
	--color-orange-50: #fcac01;
	--color-red-54: #ea382a;
	--color-violet-36: #412296;
	--color-azure-46: #04aae7;
	--color-orange-48: #f0b003;
	--color-green-55: #50d146;
	--color-rose-50: #ff0080;
	--color-red-61: #fe413a;
	--color-yellow-54: #f8ca1d;
	--color-orange-53: #f3a61c;
	--color-cyan-50: #03cafd;
	--color-orange-57: #fe8125;
	--color-blue-64: #5e55f3;
	--color-cyan-45: #00aee5;
	--color-azure-44: #1c7dc3;
	--color-yellow-50: #ffec01;
	--color-orange-56: #f17a2d;
	--color-orange-77: #fc8;
	--color-green-41: #2ea339;
	--color-violet-14: #221b2e;
	--color-green-84: #b4ffae;
	--color-green-71: #83f17b;
	--color-white--0: rgba(255, 255, 255, 0);
	--color-grey-95: #eef3f9;
	--color-black-solid: #000;
	--sine-seryy-fon: #e8f0ff;
	--siniy: #455d89;
	--temnyy-siniy: #374a6e;
	--futer-temnyy: #526c9c;
	--futer-svetlyy: #6f8dc4;
	--dlya-teksta: #1f2a3f;
	--ohra: #f9a903;
	--seryy: #abb2bd;
	--color-white-solid: #fff;
	--color-grey-93: #e4f5e3;
	--color-black-solid: #000;
	--color-green-44: #3daa35;
	--color-azure-10: #0c1526;
	--color-white--0: rgba(255, 255, 255, 0);
	--color-grey-13: #212121;
	--color-orange-49: #f7aa01;
}


.logo-header{width: 180px;height: auto;display: flex;margin-left: 50px;}
.nav-menu-head{display: flex;align-items: center;font-family: "sf-med";font-size: 24px;color: var(--siniy);}
.nav-menu-head:hover{color: var(--color-grey-13);}
.nav-menu-head:hover svg circle{fill: #212121;}
.nav-menu-head svg{width: 45px;height: 45px;margin-right: 8px;}
.nav-menu-main{display: flex;align-items: center;gap:50px;}
.btn-auth{font-family: "sf-med";font-size: 24px;color: var(--sine-seryy-fon);background: var(--temnyy-siniy);border-radius: 20px;display: flex;padding: 2px 6px 3px 7px;align-items: center;gap: 4px;margin-right: 56px;}
.btn-auth:hover{background: var(--color-grey-13);}
.btn-auth svg{width: 26px;height: 26px;}
.nav-header-info{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.header-content{display: flex;align-items: center;gap:105px}
header{padding: 27px 0;}
.ttl-our{font-family: "sf-med";font-size: 24px;color: var(--siniy);margin-left: -6px;}
.ttl-name{font-size: 32px;color: var(--dlya-teksta);font-family: "un-bold";margin: -7px 0 7px -6px;}
.img-game{border-radius: 10px;aspect-ratio: 135/150;width: 100%;margin-bottom: 13px;}
.product-name{font-family: "sf-med";font-size: 20px;text-align: center;color: var(--pererabotka-chernyy-dlya-teksta);margin: 4px 0;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height: 1;overflow: hidden;}
.product-charact{font-family: "sf-med";font-size: 20px;color: var(--pererabotka-chernyy-dlya-teksta);display: flex;align-items: center;gap: 2px}
.product-char{display: flex;justify-content: center;gap:10px;margin-bottom: 10px;}
.product-star{display: flex;gap:2px;justify-content: center;}
.product-star svg{width: 19px;height: 17px;}
.product-item > a{border-radius: 15px;background: var(--color-white-solid);padding: 27px 29px 25px;display: flex;flex-direction: column;}
.product-item > a:hover{background: #a9bbdc;}
.product-content{display: grid;grid-template-columns: repeat(8, minmax(100px, 1fr));gap: 30px 22px;margin-bottom: 103px;}
.first-section{padding: 162px 0 96px;}
.first-section .container{padding: 0 10px;}
.pagination-content{gap: 10px;}
.pagination-content .page-item.active .page-link{background: var(--siniy);color: var(--sine-seryy-fon);border-color: var(--siniy);}
.pagination-content .page-item .page-link{background: var(--sine-seryy-fon);border-radius: 8px!important;padding: 10px;width: 37px;height: 41px;min-width: 37px;border: 0;display: flex;align-items: center;justify-content: center;font-family: "open-bold";font-size: 18px;line-height: 115%;color: var(--siniy);margin: 0;}
.top-game-flex{display: grid;grid-template-columns: repeat(4,1fr);gap:15px 10px;}
.top-img-game{border-radius: 15px;aspect-ratio: 10 / 10;}
.view-all-apps{aspect-ratio: 10 / 10;background: var(--temnyy-siniy);border-radius: 15px;display: flex;flex-direction: column;justify-content: center;align-items: center;transition: all .4s;font-family: "sf-med";font-size: 20px;color: var(--sine-seryy-fon);padding: 0 15px;text-align: center;line-height: 1.4;}
.view-all-apps svg{width: 57px;height: 30px;}
.view-all-apps:hover{background: var(--sine-seryy-fon);color: var(--temnyy-siniy);}
.view-all-apps:hover svg path{stroke: var(--temnyy-siniy);}
.ttl-top{font-family:"open-reg";font-size: 30px;line-height: 115%;color: var(--color-white-solid);margin-bottom: 55px;}
.top-apps{display: grid;grid-template-columns: 1fr 1fr;gap:15px}
.top-app-item{background: var(--siniy);border-radius: 33px;padding: 36px 82px 35px 90px;}
.recommendation-section{padding: 90px 0 110px;}
.comments-content{max-height: 573px;overflow-y: scroll;display: flex;flex-direction: column;gap: 10px;padding-right: 32px;margin-right: 9px;}
.comments-content::-webkit-scrollbar-track{background: var(--ohra);border-radius: 16px;}
.comments-content::-webkit-scrollbar{width: 13px;border-radius: 16px;height: 0;}
.comments-content::-webkit-scrollbar-thumb{background: var(--temnyy-siniy);border-radius: 16px;}
.img-comentator{width: 60px;height: 60px;border-radius: 9px;object-fit: cover;margin-top: 13px;}
.comm-get{font-family: "open-semi";font-size: 13px;line-height: 115%;color: var(--siniy);margin-bottom: 9px;}
.comm-text{font-family: "sf-med";font-size: 20px;color: var(--dlya-teksta);position: relative;line-height: 135%;}
.data-comm,.name-comm{font-family: "open-reg";font-size: 10px;line-height: 115%;color: var(--dlya-teksta);margin-right: 8px;}
.comm-text::after{position: absolute;content: '';border-bottom: 3px solid var(--siniy);border-left: 3px solid var(--siniy);width: 9px;height: 9px;top: 5px;left: -21px;}
.status-comm{font-family: "open-semi";font-size: 10px;line-height: 115%;color: var(--color-white-solid);background: var(--seryy);border-radius: 5px;padding: 3px 4px;margin-right: 8px;}
.data-comm{margin:0;}
.comm-foot{margin-top: 23px;display: flex;align-items: center;}
.comm-item{background: var(--color-white-solid);border-radius: 9px;padding: 19px 39px;gap: 50px;display: flex;}
.logo-footer{width: 146px;height: auto;}
.foot-info{display: flex;flex-direction: column;gap:15px;margin-left: 110px;}
.foot-info a{font-family: "sf-med";font-size: 24px;color: var(--temnyy-siniy);}
.foot-content{display: flex;align-items: center;}
.footer-section{padding: 200px 0 30px;}
.search-mob svg{width: 22px;height: 22px;position: absolute;top: 0;right: 11px;bottom: 0;margin: auto;}
.search-mob:not(.active) input{width: 0;padding: 0;}
.search-mob,.menu-burger{width: 45px;height: 45px;background: var(--temnyy-siniy);border-radius: 100%;display: flex;padding: 5px;position: relative;}
.search-mob input{width: 173px;background: var(--sine-seryy-fon);font-family: "sf-med";font-size: 18px;line-height: 120%;color:var(--color-black-solid)}
.search-desctop svg{width: 22px;height: 22px;position: absolute;top: 0;right: 11px;bottom: 0;margin: auto;}
.search-desctop input{width: 173px;background: var(--sine-seryy-fon);font-family: "sf-med";font-size: 18px;line-height: 120%;color:var(--color-black-solid)}
.search-desctop{width: 45px;height: 45px;background: var(--temnyy-siniy);border-radius: 100%;display: flex;padding: 5px;position: relative;cursor: pointer;margin-left: auto;margin-right: 50px;}
.search-desctop:not(:hover) input{width: 0;padding: 0;}
.search-desctop:hover{width: auto;border-radius: 20px;}
.search-desctop:hover input{border-radius: 20px;}
.search-desctop:hover svg path{fill:var(--temnyy-siniy)}
.menu-burger span{width: 100%;height: 5px;border-radius: 16px;transition: all .4s;background: var(--sine-seryy-fon);}
.nav-header-mob{display: none;}
input[type="search"]::-webkit-search-cancel-button{display: none;}

.auth-ttl{font-family: "un-bold";font-size: 32px;text-align: center;color: var(--sine-seryy-fon);margin-bottom: 30px;}
.input-label+.input-label{margin-top: 20px;}
.input-label span{font-family: "sf-med";font-size: 16px;color: var(--sine-seryy-fon);margin-bottom: 10px;}
.input-auth{background: var(--color-white-solid);border: 5px solid var(--sine-seryy-fon);border-radius: 100px;font-family: "sf-med";font-size: 20px;color: var(--color-black-solid);padding: 8px 17px;width: 100%;}
.input-auth::placeholder{color: var(--futer-svetlyy);}
.input-passw{border: 5px solid var(--futer-temnyy);}
.forgot-passw{font-family: "sf-med";font-size: 16px;color: var(--sine-seryy-fon);margin-top: 5px;display: flex;justify-content: end;}
.btn-auth-form{font-family: "sf-med";font-size: 24px;text-align: center;color: var(--sine-seryy-fon);background: var(--futer-temnyy);border-radius: 20px;padding: 4px 5px 7px;width: 230px;display: flex;justify-content: center;align-items: center;margin: auto;}
.enter-btn{background: var(--temnyy-siniy);margin: 67px auto 5px;}
.auth-modal-form{background: var(--futer-svetlyy);border: 5px solid var(--futer-temnyy);border-radius: 20px;width: 460px;padding: 18px 55px 60px;}
.input-label{width: 100%;display: block;}
.modal-auth-main .modal-content{background: transparent;border: 0;}
.modal-auth-main .btn-close{position: absolute;top: -20px;right: 0;opacity: 1;filter: invert(1);}
.sub_category-prod{font-family: "open-bold";font-size: 15px;line-height: 115%;color: var(--siniy);border: 2px solid var(--siniy);border-radius: 10px;padding: 8px 19px 9px 19px;}
.sub_category-prod:hover,.sub_category-prod.active{color: var(--sine-seryy-fon);background: var(--siniy);}
.sub-category-content{background: var(--color-white-solid);border-radius: 20px;gap:10px;display: flex;flex-wrap: wrap;padding: 21px;margin:0 auto 73px;max-width: 1370px;}
.cat-mob-accordion{font-family: "open-bold";font-size: 17px;line-height: 115%;color: var(--color-white-solid);background: var(--temnyy-siniy);border-radius: 10px;padding: 15px 35px 15px 20px;position: relative;transition: all .4s;display: none;}
.cat-mob-accordion::after{position: absolute;content: '';width: 22px;height: 13px;background-image: url(../img/arr.svg);background-position: center center;background-size: cover;background-repeat: no-repeat;top: 0;bottom: 0;right: 20px;margin: auto;transition: all .4s;}






@media (min-width: 1600px){
    .container{max-width: 1600px;}
	.recommendation-section .container{max-width: 1320px;}
}

@media (min-width: 1800px){
    .container{max-width: 1715px;}
	.recommendation-section .container{max-width: 1400px;}
}


@media (max-width:1600px) {
	.product-content{grid-template-columns: repeat(6, minmax(100px, 1fr));}
	.view-all-apps{padding: 0 10px;line-height: 1.2;font-size: 18px;}

}

@media (max-width:1400px) {
	.view-all-apps svg{width: 44px;height: auto;}
	.view-all-apps{padding: 0;line-height: 1.2;font-size: 16px;}
	.nav-header-mob{display: flex;align-items: center;}
	.nav-header-info{align-items: self-start;width: 200px;position: absolute;top: 65px;flex-direction: column;background: var(--futer-svetlyy);padding: 60px 10px 30px;right: 0;transition: all .4s;opacity: 0;visibility: hidden;}
	.nav-header-mob{display: flex;align-items: center;margin-left: auto;gap: 32px;}
	.menu-burger{flex-direction: column;gap: 4px;align-items: center;justify-content: center;padding: 7px;overflow: hidden;}
	.menu-burger.active span:first-child{transform: rotate(45deg) translate(7px, 7px);}
	.menu-burger.active span:last-child{transform: rotate(-45deg) translate(5px, -6px);}
	.menu-burger.active span:nth-child(2){transform: translate(40px, 40px);}
	.header-content.active .nav-header-info{opacity: 1;visibility: visible;}
	.header-content{position: relative;}
	.nav-menu-main{gap: 10px;flex-direction: column;align-items: start;}
	.nav-menu-head svg{display: none;}
	.nav-menu-head{align-items: unset;color: var(--color-white-solid);text-transform: capitalize;}
	.btn-auth svg{display: none;}
	.btn-auth{color: #fff;background: transparent;border-radius: 0;display: flex;padding: 0;align-items: self-start;gap: 0;margin:10px 0 0;}
	.search-mob.active{width: auto;border-radius: 20px;}
	.search-mob.active input{border-radius: 20px;}
	.search-mob.active svg path{fill:var(--temnyy-siniy)}

}

@media (max-width:1198px) {
	.product-content{grid-template-columns: repeat(4, minmax(100px, 1fr));}
	.top-app-item{padding: 35px 40px;}

}


@media (max-width:991px) {
	.top-apps{grid-template-columns: 1fr;}

}

@media (max-width:768px) {
	.product-content{grid-template-columns: repeat(2, minmax(100px, 1fr));}

}

@media (max-width:575px) {
	header{padding: 7px 0;}
	.logo-header{width: 80px;margin-left: 0;}
	.first-section{padding: 20px 0 40px;}
	.first-section .container{padding: 0 12px;}
	.product-item > a{padding: 14px 12px;}
	.product-content{gap: 20px;margin-bottom: 60px;}
	.top-img-game{width: 100%;}
	.top-game-flex{display: flex;width: 120px;flex-direction: column;gap: 13px;margin: auto;}
	.ttl-top{text-align: center;}
	.recommendation-section{padding: 20px 0 50px;}
	.top-apps{width: 80%;margin: auto;}
	.footer-section{padding: 150px 0 12px;}
	.foot-content{justify-content: center;}
	.foot-info{margin-left: 20px;}
	.comments-content{max-height: 485px;padding-right: 20px;margin-right: 0;}
	.comm-item{padding: 15px;gap: 38px;}
	.comm-text{font-size: 13px;line-height: 155%;}
	.comments-content::-webkit-scrollbar{width: 7px;}
	.comments-content::-webkit-scrollbar-track{border: 2px solid var(--sine-seryy-fon);}
	.auth-modal-form{max-width: 460px;padding: 18px 10px 60px;width: auto;}
	.category-choose-block{background: var(--temnyy-siniy);border-radius: 10px;position: relative;margin: 70px 0 30px;}
	.category-choose-block.active{border-radius: 10px 10px 0 0;}
	.cat-mob-accordion{display: block;}
	.category-choose-block.active .cat-mob-accordion::after{transform: rotate(180deg);}
	.sub-category-content{flex-wrap: unset;padding: 15px 20px;margin: 0;max-width: 1370px;flex-direction: column;background: var(--siniy);border-radius: 0;max-height: 300px;overflow-y: scroll;position: absolute;left: 0;right: 0;opacity: 0;visibility: hidden;transition: all .4s;}
	.category-choose-block.active .sub-category-content{opacity: 1;visibility: visible;z-index: 9;}
	.sub_category-prod:hover, .sub_category-prod.active,.sub_category-prod{color: #fff;background: transparent;padding: 0;}
	.ttl-our,.ttl-name{margin-left: 0;}




}